body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: salmon;
    width: auto;
    height: 20vh;
}

header a{
    background-color: brown;
    width: 5rem;
    height: 2.5rem;

    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;;
}

main{
    background-color: aqua;
    width:auto;
    height: 100vw;
}

#content-menu{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(56, 56, 56);
    opacity: 0.9;
    width: 20rem;
    height: 100%;
}